*{
	margin: 0;
}

.cabecalho{
    background-color: tomato;
    height: 80px;
    position: relative;
}
.cabecalho h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    width: 500px;
    margin-left: 430px;
    padding: 10px;
}
@media only screen and (max-width: 625px){
    .cabecalho h1{
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        width: 500px;
        margin-left: 30px;
        padding: 10px;
    }
}
.cabecalho a{
    text-decoration: none;
    color: black;
}
#logo{
    width: 70px;
    height: 70px;
}
.image{
    width: 70px;
    margin-left: 450px;
}
.image img{
    right: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 6em;
}
@media only screen and (max-width: 625px){
    .image img{
        right: 420px;
        width: 100px;
        height: 100px;
        position: relative;
        bottom: 6em;
    }
}
.navbar{
    color: black;
    border-radius: 4px;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.navbar a{
    text-decoration: none;
    color: black;
    background-color: tomato;
    padding: 3px 15px;
    border-radius: 8px;
}
.imageselo{
    margin-left: 500px;
    margin-top: 90px;
}
#seloconfiança{
    width: 300px;
    height: 300px;
}
@media only screen and (max-width: 625px){
    #seloconfiança{
        width: 300px;
        height: 300px;
        position: relative;
        right: 26em;
    }
}
.imagefarol{
    margin-left: 350px;
    margin-top: 100px;
}
#imagefarol{
    width: 300px;
    height: 300px;
}
.descricaofarol{
    border-radius: 8px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 300px;
    width: 250px;
    margin-left: 650px;
}
.imageparachoque{
    margin-left: 350px;
    margin-top: 100px;
}
#imageparachoque{
    width: 300px;
    height: 300px;
}
.descricaoparachoque{
    border-radius: 8px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 300px;
    width: 250px;
    margin-left: 650px;
}
.imageturbina{
    margin-left: 350px;
    margin-top: 100px;
}
#imageturbina{
    width: 300px;
    height: 300px;
}
.descricaoturbina{
    border-radius: 8px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 300px;
    width: 250px;
    margin-left: 650px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    min-width: 250px;
    flex-basis: 25%;
}
.col-4 img{
    margin: 20px 0;
    width: 250px;
    padding-left: 40px;
}
.col-2{
    min-width: 250px;
    flex-basis: 50%;
}
.col-2 img{
    max-width: 100%;
    margin: 20px 0;
    padding-left: 40px;
}
.espacokombi{
    margin-left: 120px;
}
.rodape{
    background-color: rgb(253, 133, 112);
    height: 150px;
    margin-top: 15px;
    text-align: right;
}
#informacoes{
    margin-right: 1em;
}
.sobrenosrodape{
    float: left;
    text-align: center;
    position: relative;
    left: 570px;
}